<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_label"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Splash">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="com.zs.audiofy.common.impl.AnalyticsInitializer" android:value="androidx.startup" />
            <meta-data android:name="com.zs.audiofy.common.impl.KoinInitializer" android:value="androidx.startup" />
            <meta-data android:name="com.zs.audiofy.common.impl.CoilInitializer" android:value="androidx.startup" />
            <meta-data android:name="com.zs.audiofy.common.impl.AdNetworkInitializer" android:value="androidx.startup" />
        </provider>

        <!-- Point the activity back to Theme.Splash so the splash engine hooks work -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Splash"
            android:configChanges="orientation|screenSize|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustNothing">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="" tools:ignore="AppLinkUrlError" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
    </application>
</manifest>
